@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family:monospace;
  background-color: black;
}

@layer base {
  header {
    background-color: black;
  }
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}